<deftones-navbar></deftones-navbar>

<div class="home_background">
	<div class="news">
		<h4>**NEWS**</h4>
		<br>
		<p>Sign up and become a member today to receive our regular newsletter, a 5% discount from all merchandise purchased from this site, and more!!!</p>
		<a href="#/register" class="btn btn-default">Join Now!</a>
		<p></p>
		<p>Deftones are rumoured to be appearing on the Jimmy Kimmel Live! show very shortly. We'll keep you updated on this as details are confirmed</p>
		<br>
		<p>Deftones is currently taking a break from its world tour. After playing across America and Asia during late 2016, the band is taking a well-earned break ahead of the European leg of the tour. They are due to kick off again in April when they visit Austria in April. For all remaining tour dates, please click on the Tour section of this site.</p>
		<br>
		<p>Deftones official music video for "Prayers/Triangles" from the new album "Gore"</p>
		<video id=Player1 controls= "controls" poster= "images/gore.jpg" preload="metadata">
		    <source src="video/MP4_Bunny.mp4" type="video/mp4"/>
		    <source src="video/OGV_Bunny.ogv" type="video/ogg"/>
		    <source src="video/WebM_Bunny.webm" type="video/webm"/>
		</video>
		<p>Deftones' upcoming album is set to be released on April 8th 2016. The tracklist of the generic CD to be sold worldwide will be as follows: 1.Prayers/Triangles 2.Acid Hologram 3.Doomed User 4.Geometric Headdress 5.Hearts/Wires 6.Pittura Infamante 7.Xenon 8.(L)Mirl 9.Gore 10.Phantom Bride 11.Rubicon</p>
	</div>
	
</div>

<deftones-footer></deftones-footer>
