<deftones-navbar></deftones-navbar>

<div class="nav_drop">
<div class="container">

	<div class="row video">
		<div class="col-sm-5 col-sm-offset-2">
			<iframe src="https://www.youtube.com/embed/-WdYo3WlETY" frameborder="0" allowfullscreen></iframe>
		</div>		
		<div class="col-sm-3">
			<h4 class="media-heading">Bored</h4>
			<p>From the album <strong>Adrenaline</strong></p>
		</div>
	</div>

	<div class="row video">
		<div class="col-sm-5 col-sm-offset-2">
			<iframe src="https://www.youtube.com/embed/KvknOXGPzCQ" frameborder="0" allowfullscreen></iframe>
		</div>		
		<div class="col-sm-3">
			<h4 class="media-heading">Be Quiet And Drive (Far Away)</h4>
			<p>From the album <strong>Around The Fur</strong></p>
		</div>
	</div>

	<div class="row video">
		<div class="col-sm-5 col-sm-offset-2">
			<iframe src="https://www.youtube.com/embed/WPpDyIJdasg" frameborder="0" allowfullscreen></iframe>
		</div>		
		<div class="col-sm-3">
			<h4 class="media-heading">Change (In The House Of Flies)</h4>
			<p>From the album <strong>White Pony</strong></p>
		</div>
	</div>

	<div class="row video">
		<div class="col-sm-5 col-sm-offset-2">
			<iframe src="https://www.youtube.com/embed/LnI_QIXU058" frameborder="0" allowfullscreen></iframe>
		</div>		
		<div class="col-sm-3">
			<h4 class="media-heading">Hole In The Earth</h4>
			<p>From the album <strong>Saturday Night Wrist</strong></p>
		</div>
	</div>


</div>
<deftones-footer></deftones-footer>
</div>
