<todo-navbar></todo-navbar>

<div class="nav_drop">
<div class="container">

	<div class="row video">
		<div class="col-sm-5 col-sm-offset-2">
			<iframe src="https://www.youtube.com/embed/KvknOXGPzCQ" frameborder="0" allowfullscreen></iframe>
		</div>		
		<div class="col-sm-3">
			<h4 class="media-heading">Be Quiet And Drive (Far Away)</h4>
			<p>From the album <strong>Around The Fur</strong></p>
		</div>
	</div>

	<div class="row video">
		<div class="col-sm-5 col-sm-offset-2">
			<iframe src="https://www.youtube.com/embed/WPpDyIJdasg" frameborder="0" allowfullscreen></iframe>
		</div>		
		<div class="col-sm-3">
			<h4 class="media-heading">Change (In The House Of Flies)</h4>
			<p>From the album <strong>White Pony</strong></p>
		</div>
	</div>

	<div class="row video">
		<div class="col-sm-5 col-sm-offset-2">
			<iframe src="https://www.youtube.com/embed/LnI_QIXU058" frameborder="0" allowfullscreen></iframe>
		</div>		
		<div class="col-sm-3">
			<h4 class="media-heading">Hole In The Earth</h4>
			<p>From the album <strong>Saturday Night Wrist</strong></p>
		</div>
	</div>


</div>
<footer>
	<div>
		<p>Copyright (c) 2016</p>
	</div>
	<div>
		<p><a href="http://www.facebook.com/deftones" target="_blank">facebook</a> <a href="http://www.youtube.com/deftones" target="_blank">youtube</a> <a href="http://twitter.com/deftones" target="_blank">twitter</a> <a href="http://www.instagram.com/deftonesband" target="_blank">instagram</a> <a href="https://itunes.apple.com/us/artist/deftones/id1092903" target="_blank">itunes</a></p>
	</div>
</footer>
</div>