<deftones-navbar></deftones-navbar>

<div class="nav_drop">
<div class="container">

	<p>
		<label for="search" class ="field">Search:</label>
		<input type="text" ng-model=searchBox placeholder="Date, venue or location">
	</p>
	<br>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<th>DATE</th>
				<th>VENUE</th>
				<th>LOCATION</th>
			</tr>
			<tr ng-repeat="tour in tours | filter:searchBox">
				<td>{{tour.date}}</td>
				<td>{{tour.venue}}</td>
				<td>{{tour.location}}</td>
			</tr>
		</tbody>
	</table>


</div><!--container-->

<deftones-footer></deftones-footer>

</div><!--nav_drop-->