<todo-navbar></todo-navbar>

<div class="nav_drop">
<div class="container">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>DATE</th>
				<th>VENUE</th>
				<th>LOCATION</th>
			</tr>
			<tr>
				<td>APR 18</td>
				<td>GASOMETER</td>
				<td>Vienna, Austria</td>
			</tr>
			<tr>
				<td>APR 19</td>
				<td>ZENITH</td>
				<td>Munchen, Germany</td>
			</tr>
			<tr>
				<td>APR 20</td>
				<td>HALLE 662</td>
				<td>Zurich, Switzerland</td>
			</tr>
			<tr>
				<td>APR 21</td>
				<td>FABRIQUE</td>
				<td>Milan, Italy</td>
			</tr>
			<tr>
				<td>APR 23</td>
				<td>STADTHALLE</td>
				<td>Offenbach, Germany</td>
			</tr>
			<tr>
				<td>APR 24</td>
				<td>013</td>
				<td>Tilburg, Netherlands</td>
			</tr>
			<tr>
				<td>APR 25</td>
				<td>ROCKHAL</td>
				<td>Luxembourg, Luxembourg</td>
			</tr>
			<tr>
				<td>APR 27</td>
				<td>VELODROM</td>
				<td>Berlin, Germany</td>
			</tr>
			<tr>
				<td>APR 28</td>
				<td>SPORTHALLE</td>
				<td>Hamburg, Germany</td>
			</tr>
			<tr>
				<td>APR 29</td>
				<td>GROEZROCK</td>
				<td>Meerhout, Belgium</td>
			</tr>
			<tr>
				<td>MAY 01</td>
				<td>PALLADIUM</td>
				<td>Koln, Germany</td>
			</tr>
			<tr>
				<td>MAY 02</td>
				<td>OLYMPIA</td>
				<td>Paris, France</td>
			</tr>
			<tr>
				<td>MAY 05</td>
				<td>ALEXANDRA PALACE</td>
				<td>London, United Kingdom</td>
			</tr>
			<tr>
				<td>MAY 06</td>
				<td>02 APOLLO</td>
				<td>Manchester, United Kingdom</td>
			</tr>
			<tr>
				<td>MAY 07</td>
				<td>SECC</td>
				<td>Glasgow, United Kingdom</td>
			</tr>
		</tbody>
	</table>
</div>
<footer>
	<div>
		<p>Copyright (c) 2016</p>
	</div>
	<div>
		<p><a href="http://www.facebook.com/deftones" target="_blank">facebook</a> <a href="http://www.youtube.com/deftones" target="_blank">youtube</a> <a href="http://twitter.com/deftones" target="_blank">twitter</a> <a href="http://www.instagram.com/deftonesband" target="_blank">instagram</a> <a href="https://itunes.apple.com/us/artist/deftones/id1092903" target="_blank">itunes</a></p>
	</div>
</footer>
</div>